.block__about-me {
  width: 100%;
  padding: 110px 0 101px;
}

.about-me__container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(0, 600px) 270px;

}

.about-me__title {
  margin: 0 0 66px 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #DADADA;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  color: #FFFFFF;
}

.about-me__name {
  margin: 0 0 18px 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  color: #FFFFFF;
}

.about-me__job {
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
}

.about-me__description {
  margin: 0 0 99px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
}

.about-me__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #FFFFFF;
  transition: opacity .3s linear;
}

.about-me__image {
  display: block;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .block__about-me {
    padding-top: 90px;
    padding-bottom: 91px;
  }
  .about-me__container {
    grid-template-columns: minmax(0, 367px) 255px;
  }
  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
  .about-me__job {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__description {
    margin-bottom: 86px;
    font-size: 12px;
    line-height: 18px
  }
  .about-me__image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .block__about-me {
    padding-top: 71px;
    padding-bottom: 70px;
  }
  .about-me__container {
    justify-content: center;
    grid-template-columns: minmax(284px, auto);
    row-gap: 38px;
  }
  .about-me__title {
    margin-bottom: 60px;
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  .about-me__name {
    margin-bottom: 18px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
  .about-me__job {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__description {
    margin-bottom: 39px;
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__image:first-of-type {
    justify-self: center;
    width: 284px;
    grid-column: 1;
    grid-row: 1;
    height: 352px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .about-me__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}
